<div class="jumbotron">	
	<div class="row">
		<div class="col-lg-2 col-md-2">
			<aside>
				<ul>
					<li class="glyphicon glyphicon-list"><%=link_to "Oceny", "#"%></li>
					<li class="glyphicon glyphicon-info-sign"><%=link_to "Zajecia", "#"%></li>
					<li class="glyphicon glyphicon-calendar"><%=link_to "Wydarzenia", "#"%></li>
				</ul>
			</aside>
		</div>
		<div class="col-lg-10 col-md-10">
			<article>
				<h2>Tablica wiadomosci:</h2>
			</article>
		</div>
	</div>
</div>

