<div class="jumbotron">
  <h1>Hello, welcome to the school information flow system</h1>
  <p>You need to log in to perform any actions</p>
  <p><%= link_to "Log in", "#", class: "btn btn-primary btn-lg", role: "button"%></p>
</div>

<div class="jumbotron">	
	<div class="row">
		<div class="col-lg-2 col-md-2">
			<aside>
				<ul>
					<li class="glyphicon glyphicon-list"><%=link_to "Oceny", "#"%></li>
					<li class="glyphicon glyphicon-info-sign"><%=link_to "Zajecia", "#"%></li>
					<li class="glyphicon glyphicon-calendar"><%=link_to "Wydarzenia", "#"%></li>
				</ul>
			</aside>
		</div>
		<div class="col-lg-10 col-md-10">
			<article>
				<h2>Tablica wiadomosci:</h2>
			</article>
		</div>
	</div>
</div>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Teachers list</div>
  <div class="panel-body">
    <p>List of all teachers</p>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
    	<td>First Name</td>
    	<td>Last Name</td>
    	<td>Email</td>
    	<td>Action</td>
    </thead>

    <tbody>
		     	<td>name</td>
		    	<td>surname</td>
		    	<td>t.email</td>
		    	<td>No actions yet</td>


	  		<p>There are no teachers in the database</p>

	  </tbody>
  </table>
</div>