<%= link_to "<< Back", admin_path, role: "botton", class: "btn btn-primary btn-lg"%>
<br>

<h2>Here you can assign Teachers/Students/Lessons to a Group</h2>

<%= link_to "Group-Teachers", teachers_admin_group_assignments_path, class: "btn btn-primary" %>
<%= link_to "Group-Students", students_admin_group_assignments_path, class: "btn btn-warning" %>
<%= link_to "Group-Lessons", '#', class: "btn btn-success" %>