<%= link_to "<< Back", admin_group_assignments_path, class: "btn btn-primary btn-lg" %>
<%= link_to "Add assignment", new_admin_group_assignment_path(:type => 'teacher'), role: "botton", class: "btn btn-danger btn-lg go-right"%>
<br> <br>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading table-head">All teacher to group associations</div>


  <!-- Table -->
  <table class="table">
    <thead>
    	<tr>
	    	<th>Full name</th>
	    	<th>Groups</th>
	    </tr>
    </thead>

    <tbody>
    	<% @teachers.each do |t|%>
	    	<tr>	
		    	<td><%= link_to "#{t.first_name} #{t.last_name}", admin_teacher_path(t) %></td>
		    	<td>
		    		<% t.groups.each do |g|%>
		    			<%= link_to g.name, admin_group_path(g)%>
		    		<% end %>
		    	</td>
		    </tr>
	    <% end %>
    </tbody>
  </table>
</div>