<div class="container">
	<div class="row">
		<h2>Hello! Welcome to admin panel</h2>
		<ul class="nav nav-pills">
			<li><%= link_to 'Teachers', teachers_path, class: "btn btn-lg btn-primary"%></li>
			<li><%= link_to 'Students', '#', class: "btn btn-lg btn-primary"%></li>
			<li><%= link_to 'Subjects', '#', class: "btn btn-lg btn-primary"%></li>
			<li><%= link_to 'Lessons', '#', class: "btn btn-lg btn-primary"%></li>
		</ul>
	</div>
</div>
