<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Teachers list</div>
  <div class="panel-body">
    <p>List of all teachers</p>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
    	<td>First Name</td>
    	<td>Last Name</td>
    	<td>Email</td>
    	<td>Action</td>
    </thead>

    <tbody>
		     	<td>name</td>
		    	<td>surname</td>
		    	<td>t.email</td>
		    	<td>No actions yet</td>


	  		<p>There are no teachers in the database</p>

	  </tbody>
  </table>
</div>