@import "bootstrap-sprockets";
@import "bootstrap";


/* Header */

.glyphicon-home {
    font-size: 3.2em;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
}



/* Header */


li.goright {
    float: right;
    font-size: 1.4em;
}

/* Admin panel */

.table-head {
	font-size: 20px;
	td {
		font-size: 20px;
		font-weight: bold;
	}
}
.go-right {
	float: right;
}

/* Footer */