@import "bootstrap-sprockets";
@import "bootstrap";


/* Header */

.glyphicon-home {
    font-size: 3.2em;
}

@media (max-width: 768px) {
    body {
        padding-top: 90px;
        padding-bottom: 150px;
    }
    header nav ul {
    text-align: center
    }
}


/* Header */


li.goright {
    float: right;
    font-size: 1.4em;
}

/* Admin panel */

.table-head {
	font-size: 20px;
	td {
		font-size: 20px;
		font-weight: bold;
	}
}
.go-right {
	float: right;
}

/* Footer */

