<div class="container">
	<footer>
		<nav class="navbar navbar-default navbar-fixed-bottom">
		    <ul class="nav navbar-nav col-md-12">
		    	<li>
		    		To be filled
		    	</li>
		    </ul>
	  </nav>
	</footer>
</div>
