<div class="container">	
	<header>
	  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		    <ul class="nav navbar-nav">
		    	<li><%= link_to "", '#', class: "glyphicon glyphicon-home", id: "logo" %></li>
		      <li><%= link_to "Strona Glowna",   '#' %></li>
		      <li><%= link_to "Zaloguj", '#' %></li>
		    </ul>
	  </nav>
	</header>

</div>